<section 
    style="
        background-color: #F2F5F8;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 0px;
        max-width: 600px;
        margin: auto;
        font-family: Inter, sans-serif;
        color: #333333;
    "
>
    <img src="../images/logo.svg" alt="logo" style="margin: 0px auto 20px 15%;" />

    <section 
        style="
            background-color: #FFFFFF;
            width: 80%;
            padding: 32px 20px;
            border-radius: 4px 4px 0px 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            row-gap: 20px;
            font-size: 16px;
            line-height: 24px;
        "
    >
        <div>Your (monthly/3-months/6-months/annual) payment for _______ has been received successfully. </div>

        <div>Discover new features aimed at boosting your experience on OneDoc.</div>

        <div>You now have access the following:</div>   

        <ul style="margin: 10px 0px;">
            <li>Unlimited templates</li>
            <li>Advanced AI functions.</li>
            <li>Team of specialists to help boost your portfolio.</li>
            <li>One-on-one business mentorship, etc</li>
        </ul>

        <div>OneDoc will put you on the right path to organizing and managing all your business deals with clients from start to finish.</div>
        
        <div>
            This is what you can do on OneDoc:<br />
            ✅ Collaborate with clients and team members on new and ongoing projects.<br />
            ✅ Create slides for exceptional presentations and pitches.<br />
            ✅ Sign documents for official purposes electronically.<br />
            ✅ Create landing pages that will drive leads to business.<br />
            ✅ Create and manage forms for surveys.
            ✅ And much more.
        </div>
            
        <div>
            Here are some useful links to help you along the way:
            <a href="" style="color: #2263DE;"><li>Login</li></a><br />
            <a href="" style="color: #2263DE;"><li style="margin-top: -20px">Welcome to OneDoc</li></a><br />
            <a href="" style="color: #2263DE;"><li style="margin-top: -20px">Watch our Video Guides</li></a><br />
            <a href="" style="color: #2263DE;"><li style="margin-top: -20px">Find answers in our Help Center</li></a>
        </div>
            
        <div>
            We're excited and hope to get your feedback on your experience. 
            <span><a href="" style="color: #2263DE;">Send your reviews here.</a></span>
        </div>

        <div>
            Warm regards,<br />The OneDoc Team.
        </div>

        <div style="font-size: 14px; line-height: 24px;">
            <span><a href="" style="color: #2263DE;">Visit our Help Center</a></span> if you require any assistance.
        </div>
    </section>

    <section
        style="
            background-color: #F7F9FC;
            width: 80%;
            padding: 32px 20px;
            border-radius: 0px 0px 4px 4px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            row-gap: 20px;
            font-size: 14px;
            line-height: 20px;
        "
    >
        <div>
            This email was sent to <span style="color: #2263DE;">[User Email]</span>. 
            If you’d rather not receive this kind of email, you can <span style="color: #2263DE;">unsubscribe or manage your email preferences.</span>
        </div>

        <div>Address: 510 Townsend Street, San Francisco CA 94103</div>

        <div style="margin-top: 30px; width: 100%; display: flex; justify-content: space-between; align-items: center;">
            <div><img src="../images/footer-logo.svg" alt="footer-logo" /></div>

            <div style="display: flex; align-items: center; column-gap: 15px;">
                <a href=""><img src='../images/twitter.svg' alt='twitter' /></a>
                <a href=""><img src='../images/facebook.svg' alt='facebook' /></a>
                <a href=""><img src='../images/linkedIn.svg' alt='linkedIn' /></a>
            </div>
        </div>
    </section>
</section>
