<section 
    style="
        background-color: #F2F5F8;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 0px;
        max-width: 600px;
        margin: auto;
        font-family: Inter, sans-serif;
        color: #333333;
    "
>
    <img src="../images/logo.svg" alt="logo" style="margin: 0px auto 20px 15%;" />

    <section 
        style="
            background-color: #FFFFFF;
            width: 80%;
            padding: 32px 20px;
            border-radius: 4px 4px 0px 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            row-gap: 20px;
            font-size: 16px;
            line-height: 24px;
        "
    >
        <div>Hi ____,</div>

        <div>
            Hold on, take a breath, now you can let out your excitement! You got your first view!😃 Way to go!🚀
        </div>

        <div>
            Yes, we know it's just 1 view but for a first timer, this is a huge milestone for you and we are so proud of you for creating such an amazing (pitch/document/landing page).
        </div>

        <div>
            You are one step closer to achieving your goals and impressing your clients/leads with your amazing work.
        </div>

        <div>
            Don't stop here! Use OneDoc to track your views, feedback, and conversions, optimize (name of pitch/ name of document/your landing page) for even better results, and stay in touch with your clients/leads by creating a personalized follow-up email that will make the viewer want to hear more from you.
        </div>

        <a
            style="
                background-color: #2263DE;
                color: #FFFFFF;
                font-size: 14px;
                line-height: 24px;
                font-weight: 500;
                padding: 8px 16px;
                cursor: pointer;
                border-radius: 6px;
            "
        >
            Click here to Start
        </a>

        <div>
            We are here to support you every step of the way and help you make your business a success.
        </div>

        <div>We can't wait to see what you do next!</div>

        <div>
            Cheers🥂,<br />The OneDoc Team.
        </div>

        <div style="font-size: 14px; line-height: 24px;">
            <span><a href="" style="color: #2263DE;">Visit our Help Center</a></span> if you require any assistance.
        </div>
    </section>

    <section
        style="
            background-color: #F7F9FC;
            width: 80%;
            padding: 32px 20px;
            border-radius: 0px 0px 4px 4px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            row-gap: 20px;
            font-size: 14px;
            line-height: 20px;
        "
    >
        <div>
            This email was sent to <span style="color: #2263DE;">[User Email]</span>. 
            If you’d rather not receive this kind of email, you can <span style="color: #2263DE;">unsubscribe or manage your email preferences.</span>
        </div>

        <div>Address: 510 Townsend Street, San Francisco CA 94103</div>

        <div style="margin-top: 30px; width: 100%; display: flex; justify-content: space-between; align-items: center;">
            <div><img src="../images/footer-logo.svg" alt="footer-logo" /></div>

            <div style="display: flex; align-items: center; column-gap: 15px;">
                <a href=""><img src='../images/twitter.svg' alt='twitter' /></a>
                <a href=""><img src='../images/facebook.svg' alt='facebook' /></a>
                <a href=""><img src='../images/linkedIn.svg' alt='linkedIn' /></a>
            </div>
        </div>
    </section>
</section>
