<section 
    style="
        background-color: #F2F5F8;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 0px;
        max-width: 600px;
        margin: auto;
        font-family: Inter, sans-serif;
        color: #333333;
    "
>
    <img src="../images/logo.svg" alt="logo" style="margin: 0px auto 20px 15%;" />

    <section 
        style="
            background-color: #FFFFFF;
            width: 80%;
            padding: 32px 20px;
            border-radius: 4px 4px 0px 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            row-gap: 20px;
            font-size: 16px;
            line-height: 24px;
        "
    >
        <div>
            We're sorry, but we have to be the ones to share this news: Your ______ contract with _____ has just been canceled by them.
        </div>

        <div>
            If it was a consensus, that's okay. We hope it works out better next time.
        </div>

        <div>
            If it wasn't a mutual agreement, you can reach out to ____ on OneDoc(embedded link) to resolve the issue and come to better terms.
        </div>

        <div>
            We'd love to see you again,<br />The OneDoc Team.
        </div>

        <div style="font-size: 14px; line-height: 24px;">
            <span><a href="" style="color: #2263DE;">Visit our Help Center</a></span> if you require any assistance.
        </div>
    </section>

    <section
        style="
            background-color: #F7F9FC;
            width: 80%;
            padding: 32px 20px;
            border-radius: 0px 0px 4px 4px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            row-gap: 20px;
            font-size: 14px;
            line-height: 20px;
        "
    >
        <div>
            This email was sent to <span style="color: #2263DE;">[User Email]</span>. 
            If you’d rather not receive this kind of email, you can <span style="color: #2263DE;">unsubscribe or manage your email preferences.</span>
        </div>

        <div>Address: 510 Townsend Street, San Francisco CA 94103</div>

        <div style="margin-top: 30px; width: 100%; display: flex; justify-content: space-between; align-items: center;">
            <div><img src="../images/footer-logo.svg" alt="footer-logo" /></div>

            <div style="display: flex; align-items: center; column-gap: 15px;">
                <a href=""><img src='../images/twitter.svg' alt='twitter' /></a>
                <a href=""><img src='../images/facebook.svg' alt='facebook' /></a>
                <a href=""><img src='../images/linkedIn.svg' alt='linkedIn' /></a>
            </div>
        </div>
    </section>
</section>
