<section 
    style="
        background-color: #F2F5F8;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 0px;
        max-width: 600px;
        margin: auto;
        font-family: Inter, sans-serif;
        color: #333333;
    "
>
    <img src="../images/logo.svg" alt="logo" style="margin: 0px auto 20px 15%;" />

    <section 
        style="
            background-color: #FFFFFF;
            width: 80%;
            padding: 32px 20px;
            border-radius: 4px 4px 0px 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            row-gap: 20px;
            font-size: 16px;
            line-height: 24px;
        "
    >
        <div>Hi!</div>

        <div>
            Your contract with ____ is coming to an end. Once the time elapses, all access to their shared documents and workspace will be revoked.
        </div>

        <div>
            Make sure all conditions of the contract are met to avoid any conflict. You can reach out to our help centre(embedded link) if you have any complaints.
        </div>

        <div>
            How has working with them been so far?
        </div>

        <a
            style="
                background-color: #2263DE;
                color: #FFFFFF;
                font-size: 14px;
                line-height: 24px;
                font-weight: 500;
                padding: 8px 16px;
                cursor: pointer;
                border-radius: 6px;
            "
        >
            Click to send a Review
        </a>

        <div>
            However, this doesn't have to be the end. If you love what they've done with your project, reach out to them with another offer that could lead to an extension or something new.
        </div>

        <a
            style="
                background-color: #2263DE;
                color: #FFFFFF;
                font-size: 14px;
                line-height: 24px;
                font-weight: 500;
                padding: 8px 16px;
                cursor: pointer;
                border-radius: 6px;
            "
        >
            Get in Touch
        </a>

        <div>
            Good luck!<br />The OneDoc Team.
        </div>

        <div style="font-size: 14px; line-height: 24px;">
            <span><a href="" style="color: #2263DE;">Visit our Help Center</a></span> if you require any assistance.
        </div>
    </section>

    <section
        style="
            background-color: #F7F9FC;
            width: 80%;
            padding: 32px 20px;
            border-radius: 0px 0px 4px 4px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            row-gap: 20px;
            font-size: 14px;
            line-height: 20px;
        "
    >
        <div>
            This email was sent to <span style="color: #2263DE;">[User Email]</span>. 
            If you’d rather not receive this kind of email, you can <span style="color: #2263DE;">unsubscribe or manage your email preferences.</span>
        </div>

        <div>Address: 510 Townsend Street, San Francisco CA 94103</div>

        <div style="margin-top: 30px; width: 100%; display: flex; justify-content: space-between; align-items: center;">
            <div><img src="../images/footer-logo.svg" alt="footer-logo" /></div>

            <div style="display: flex; align-items: center; column-gap: 15px;">
                <a href=""><img src='../images/twitter.svg' alt='twitter' /></a>
                <a href=""><img src='../images/facebook.svg' alt='facebook' /></a>
                <a href=""><img src='../images/linkedIn.svg' alt='linkedIn' /></a>
            </div>
        </div>
    </section>
</section>